@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @supports selector(::-webkit-scrollbar) {
        .chat-scrollbar::-webkit-scrollbar {
          background: transparent;
          width: 8px;
        }
        .chat-scrollbar::-webkit-scrollbar-thumb {
          background: #2f2f2f;
          border-radius: 0.5rem;
          transition-property: color;
          transition-duration: 100ms;
        }
        .chat-scrollbar::-webkit-scrollbar-thumb:hover {
            background: #5f5f5f;
            transition-property: color;
            transition-duration: 100ms;
          }

        .tiny-scrollbar::-webkit-scrollbar {
            background: transparent;
            width: 4px;
        }
        .tiny-scrollbar::-webkit-scrollbar-thumb {
            background: #212121;
            border-radius: 0.5rem;
            transition-property: color;
            transition-duration: 100ms;
        }
        .tiny-scrollbar::-webkit-scrollbar-thumb:hover {
            background: #5f5f5f;
            transition-property: color;
            transition-duration: 100ms;
        }
      }
  /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
       -ms-overflow-style: none;  /* IE and Edge */
       scrollbar-width: none;  /* Firefox */
 }

}

@keyframes loadingAnimation {
    0%, 100% {
        transform: scale(1);
    }
    20%, 80% {
        transform: scale(1.2);
    }
    40%, 60% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(1.5);
    }
}